
g16/data/Pranay/Pranay227.jpg
g16/data/Pranay/Pranay226.jpg
g16/data/Pranay/Pranay225.jpg
g16/data/Pranay/Pranay224.jpg
g16/data/Pranay/Pranay223.jpg
g16/data/Pranay/Pranay222.jpg
g16/data/Pranay/Pranay221.jpg
g16/data/Pranay/Pranay220.jpg
g16/data/Pranay/Pranay219.jpg
g16/data/Pranay/Pranay218.jpg
g16/data/Pranay/Pranay217.jpg
g16/data/Pranay/Pranay216.jpg
g16/data/Pranay/Pranay215.jpg
g16/data/Pranay/Pranay214.jpg
g16/data/Pranay/Pranay213.jpg
g16/data/Pranay/Pranay212.jpg
g16/data/Pranay/Pranay211.jpg
g16/data/Pranay/Pranay210.jpg
g16/data/Pranay/Pranay209.jpg
g16/data/Pranay/Pranay208.jpg
g16/data/Pranay/Pranay207.jpg
g16/data/Pranay/Pranay206.jpg
g16/data/Pranay/Pranay205.jpg
g16/data/Pranay/Pranay204.jpg
g16/data/Pranay/Pranay203.jpg
g16/data/Pranay/Pranay202.jpg
g16/data/Pranay/Pranay201.jpg
g16/data/Pranay/Pranay200.jpg
g16/data/Pranay/Pranay199.jpg
g16/data/Pranay/Pranay198.jpg
g16/data/Pranay/Pranay197.jpg
g16/data/Pranay/Pranay196.jpg
g16/data/Pranay/Pranay195.jpg
g16/data/Pranay/Pranay194.jpg
g16/data/Pranay/Pranay193.jpg
g16/data/Pranay/Pranay192.jpg
g16/data/Pranay/Pranay191.jpg
g16/data/Pranay/Pranay190.jpg
g16/data/Pranay/Pranay189.jpg
g16/data/Pranay/Pranay188.jpg
g16/data/Pranay/Pranay187.jpg
g16/data/Pranay/Pranay186.jpg
g16/data/Pranay/Pranay185.jpg
g16/data/Pranay/Pranay184.jpg
g16/data/Pranay/Pranay183.jpg
g16/data/Pranay/Pranay182.jpg
g16/data/Pranay/Pranay181.jpg
g16/data/Pranay/Pranay180.jpg
g16/data/Pranay/Pranay179.jpg
g16/data/Pranay/Pranay178.jpg
g16/data/Pranay/Pranay177.jpg
g16/data/Pranay/Pranay176.jpg
g16/data/Pranay/Pranay175.jpg
g16/data/Pranay/Pranay174.jpg
g16/data/Pranay/Pranay173.jpg
g16/data/Pranay/Pranay172.jpg
g16/data/Pranay/Pranay171.jpg
g16/data/Pranay/Pranay170.jpg
g16/data/Pranay/Pranay169.jpg
g16/data/Pranay/Pranay168.jpg
g16/data/Pranay/Pranay167.jpg
g16/data/Pranay/Pranay166.jpg
g16/data/Pranay/Pranay165.jpg
g16/data/Pranay/Pranay164.jpg
g16/data/Pranay/Pranay163.jpg
g16/data/Pranay/Pranay162.jpg
g16/data/Pranay/Pranay161.jpg
g16/data/Pranay/Pranay160.jpg
g16/data/Pranay/Pranay159.jpg
g16/data/Pranay/Pranay158.jpg
g16/data/Pranay/Pranay157.jpg
g16/data/Pranay/Pranay156.jpg
g16/data/Pranay/Pranay155.jpg
g16/data/Pranay/Pranay154.jpg
g16/data/Pranay/Pranay153.jpg
g16/data/Pranay/Pranay152.jpg
g16/data/Pranay/Pranay151.jpg
g16/data/Pranay/Pranay150.jpg
g16/data/Pranay/Pranay149.jpg
g16/data/Pranay/Pranay148.jpg
g16/data/Pranay/Pranay147.jpg
g16/data/Pranay/Pranay146.jpg
g16/data/Pranay/Pranay145.jpg
g16/data/Pranay/Pranay144.jpg
g16/data/Pranay/Pranay143.jpg
g16/data/Pranay/Pranay142.jpg
g16/data/Pranay/Pranay141.jpg
g16/data/Pranay/Pranay140.jpg
g16/data/Pranay/Pranay139.jpg
g16/data/Pranay/Pranay138.jpg
g16/data/Pranay/Pranay137.jpg
g16/data/Pranay/Pranay136.jpg
g16/data/Pranay/Pranay135.jpg
g16/data/Pranay/Pranay134.jpg
g16/data/Pranay/Pranay133.jpg
g16/data/Pranay/Pranay132.jpg
g16/data/Pranay/Pranay131.jpg
g16/data/Pranay/Pranay130.jpg
g16/data/Pranay/Pranay129.jpg
g16/data/Pranay/Pranay128.jpg
g16/data/Pranay/Pranay127.jpg
g16/data/Pranay/Pranay126.jpg
g16/data/Pranay/Pranay125.jpg
g16/data/Pranay/Pranay124.jpg
g16/data/Pranay/Pranay123.jpg
g16/data/Pranay/Pranay122.jpg
g16/data/Pranay/Pranay121.jpg
g16/data/Pranay/Pranay120.jpg
g16/data/Pranay/Pranay119.jpg
g16/data/Pranay/Pranay118.jpg
g16/data/Pranay/Pranay117.jpg
g16/data/Pranay/Pranay116.jpg
g16/data/Pranay/Pranay115.jpg
g16/data/Pranay/Pranay114.jpg
g16/data/Pranay/Pranay113.jpg
g16/data/Pranay/Pranay112.jpg
g16/data/Pranay/Pranay111.jpg
g16/data/Pranay/Pranay110.jpg
g16/data/Pranay/Pranay109.jpg
g16/data/Pranay/Pranay108.jpg
g16/data/Pranay/Pranay107.jpg
g16/data/Pranay/Pranay106.jpg
g16/data/Pranay/Pranay105.jpg
g16/data/Pranay/Pranay104.jpg
g16/data/Pranay/Pranay103.jpg
g16/data/Pranay/Pranay102.jpg
g16/data/Pranay/Pranay101.jpg
g16/data/Pranay/Pranay100.jpg
g16/data/Pranay/Pranay099.jpg
g16/data/Pranay/Pranay098.jpg
g16/data/Pranay/Pranay097.jpg
g16/data/Pranay/Pranay096.jpg
g16/data/Pranay/Pranay095.jpg
g16/data/Pranay/Pranay094.jpg
g16/data/Pranay/Pranay093.jpg
g16/data/Pranay/Pranay092.jpg
g16/data/Pranay/Pranay091.jpg
g16/data/Pranay/Pranay090.jpg
g16/data/Pranay/Pranay089.jpg
g16/data/Pranay/Pranay088.jpg
g16/data/Pranay/Pranay087.jpg
g16/data/Pranay/Pranay086.jpg
g16/data/Pranay/Pranay085.jpg
g16/data/Pranay/Pranay084.jpg
g16/data/Pranay/Pranay083.jpg
g16/data/Pranay/Pranay082.jpg
g16/data/Pranay/Pranay081.jpg
g16/data/Pranay/Pranay080.jpg
g16/data/Pranay/Pranay079.jpg
g16/data/Pranay/Pranay078.jpg
g16/data/Pranay/Pranay077.jpg
g16/data/Pranay/Pranay076.jpg
g16/data/Pranay/Pranay075.jpg
g16/data/Pranay/Pranay074.jpg
g16/data/Pranay/Pranay073.jpg
g16/data/Pranay/Pranay072.jpg
g16/data/Pranay/Pranay071.jpg
g16/data/Pranay/Pranay070.jpg
g16/data/Pranay/Pranay069.jpg
g16/data/Pranay/Pranay068.jpg
g16/data/Pranay/Pranay067.jpg
g16/data/Pranay/Pranay066.jpg
g16/data/Pranay/Pranay065.jpg
g16/data/Pranay/Pranay064.jpg
g16/data/Pranay/Pranay063.jpg
g16/data/Pranay/Pranay062.jpg
g16/data/Pranay/Pranay061.jpg
g16/data/Pranay/Pranay060.jpg
g16/data/Pranay/Pranay059.jpg
g16/data/Pranay/Pranay058.jpg
g16/data/Pranay/Pranay057.jpg
g16/data/Pranay/Pranay056.jpg
g16/data/Pranay/Pranay055.jpg
g16/data/Pranay/Pranay054.jpg
g16/data/Pranay/Pranay053.jpg
g16/data/Pranay/Pranay052.jpg
g16/data/Pranay/Pranay051.jpg
g16/data/Pranay/Pranay050.jpg
g16/data/Pranay/Pranay049.jpg
g16/data/Pranay/Pranay048.jpg
g16/data/Pranay/Pranay047.jpg
g16/data/Pranay/Pranay046.jpg
g16/data/Pranay/Pranay045.jpg
g16/data/Pranay/Pranay044.jpg
g16/data/Pranay/Pranay043.jpg
g16/data/Pranay/Pranay042.jpg
g16/data/Pranay/Pranay041.jpg
g16/data/Pranay/Pranay040.jpg
g16/data/Pranay/Pranay039.jpg
g16/data/Pranay/Pranay038.jpg
g16/data/Pranay/Pranay037.jpg
g16/data/Pranay/Pranay036.jpg
g16/data/Pranay/Pranay035.jpg
g16/data/Pranay/Pranay034.jpg
g16/data/Pranay/Pranay033.jpg
g16/data/Pranay/Pranay032.jpg
g16/data/Pranay/Pranay031.jpg
g16/data/Pranay/Pranay030.jpg
g16/data/Pranay/Pranay029.jpg
g16/data/Pranay/Pranay028.jpg
g16/data/Pranay/Pranay027.jpg
g16/data/Pranay/Pranay026.jpg
g16/data/Pranay/Pranay025.jpg
g16/data/Pranay/Pranay024.jpg
g16/data/Pranay/Pranay023.jpg
g16/data/Pranay/Pranay022.jpg
g16/data/Pranay/Pranay021.jpg
g16/data/Pranay/Pranay020.jpg
g16/data/Pranay/Pranay019.jpg
g16/data/Pranay/Pranay018.jpg
g16/data/Pranay/Pranay017.jpg
g16/data/Pranay/Pranay016.jpg
g16/data/Pranay/Pranay015.jpg
g16/data/Pranay/Pranay014.jpg
g16/data/Pranay/Pranay013.jpg
g16/data/Pranay/Pranay012.jpg
g16/data/Pranay/Pranay011.jpg
g16/data/Pranay/Pranay010.jpg
g16/data/Pranay/Pranay009.jpg
g16/data/Pranay/Pranay008.jpg
g16/data/Pranay/Pranay007.jpg
g16/data/Pranay/Pranay006.jpg
g16/data/Pranay/Pranay005.jpg
g16/data/Pranay/Pranay004.jpg
g16/data/Pranay/Pranay003.jpg
g16/data/Pranay/Pranay002.jpg
g16/data/Pranay/Pranay001.jpg
g16/data/.DS_Store
g16/__pycache__/transferPage.cpython-38.pyc
g16/__pycache__/transferPage.cpython-310.pyc
g16/__pycache__/transactionPage.cpython-38.pyc
g16/__pycache__/transactionPage.cpython-310.pyc
g16/__pycache__/train.cpython-38.pyc
g16/__pycache__/train.cpython-310.pyc
g16/__pycache__/signup.cpython-38.pyc
g16/__pycache__/signup.cpython-310.pyc
g16/__pycache__/profile.cpython-38.pyc
g16/__pycache__/profile.cpython-310.pyc
g16/__pycache__/loginWithFaceID.cpython-38.pyc
g16/__pycache__/loginWithFaceID.cpython-310.pyc
g16/__pycache__/interface.cpython-39.pyc
g16/__pycache__/interface.cpython-38.pyc
g16/__pycache__/interface.cpython-310.pyc
g16/__pycache__/home.cpython-38.pyc
g16/__pycache__/home.cpython-310.pyc
g16/__pycache__/faces.cpython-38.pyc
g16/__pycache__/faces.cpython-310.pyc
g16/__pycache__/face_capture.cpython-38.pyc
g16/__pycache__/face_capture.cpython-310.pyc
g16/__pycache__/DEFINE.cpython-39.pyc
g16/__pycache__/DEFINE.cpython-38.pyc
g16/__pycache__/DEFINE.cpython-310.pyc
g16/__pycache__/database.cpython-38.pyc
g16/__pycache__/database.cpython-310.pyc
g16/__pycache__/accounts1.cpython-38.pyc
g16/__pycache__/accounts1.cpython-310.pyc
